 .driver-details {
   background: #fff;
   overflow: hidden;
   position: relative;
 }

 .template-driverdetails .profile {
   padding: 0 1px 0 0;
   width: 50%;
 }

 .stats,
 .template-driverdetails .profile {
   float: left;
   min-height: 20px;
   width: 50%;
 }

 .driver-title {
   background: #fff;
   overflow: hidden;
 }

 fieldset,
 figure {
   margin: 0;
 }

 .driver-image-crop {
   height: 452px;
   overflow: hidden;
 }

 .driver-image-crop-outer {
   width: 100%;
   margin: 0 auto;
   overflow: visible;
 }

 .driver-image-crop-inner {
   position: relative;
 }
