<app-header></app-header>

<mat-card style="display: none;" class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
</mat-card>
<br>

<header class="driver-details">
    <section class="profile">

        <div>
            <figure class="driver-title">



                <div class="driver-image-crop driver-main-image">
                    <div class="driver-image-crop-outer">
                        <div class="driver-image-crop-inner">



                            <div data-path="/content/fom-website/en/drivers/max-verstappen/_jcr_content/image"
                                data-alt="" data-extension="jpg" data-suffix="/1616676511153.jpg"
                                data-class="image fom-image"><img src="../../assets/vishal.jpg" alt=""
                                    class="image fom-image" pinger-seen="true">
                            </div>



                        </div>
                    </div>
                </div>



                <figcaption class="driver-details">
                    <div class="driver-number">
                        <span>33</span>
                        <span class="icn-flag">

                            <img src="https://w7.pngwing.com/pngs/184/998/png-transparent-computer-icons-interport-global-logistics-chembur-symbol-flag-flag-india-miscellaneous-flag-service.png"
                                class="cq-dd-image" data-emptytext="Image" pinger-seen="true">



                        </span>
                    </div>

                    <h1 class="driver-name">Vishal Karmakar</h1>
                </figcaption>
            </figure>
        </div>


    </section>
    <section class="stats">

        <div class="stats-list-component driver-stats">

            <section class="extra-info">
                <div class="brand-logo">


                    <img src="https://www.formula1.com/content/fom-website/en/drivers/max-verstappen/_jcr_content/helmet.img.png/1616675150474.png"
                        class="cq-dd-image" data-emptytext="Image" pinger-seen="true">




                </div>




            </section>

            <table class="stat-list">
                <tbody>

                    <tr>
                        <th scope="row" class="stat-key">

                            <span class="text">Organization</span>

                        </th>
                        <td class="stat-value">ARI Simulation</td>

                    </tr>


                    <tr>
                        <th scope="row" class="stat-key">

                            <span class="text">Country</span>

                        </th>
                        <td class="stat-value">India</td>

                    </tr>


                    <tr>
                        <th scope="row" class="stat-key">

                            <span class="text">Experience</span>

                        </th>
                        <td class="stat-value">3 Years</td>

                    </tr>


                    <tr>
                        <th scope="row" class="stat-key">

                            <span class="text">Date of birth</span>

                        </th>
                        <td class="stat-value">24/11/1996</td>

                    </tr>



                    <tr>
                        <th scope="row" class="stat-key">

                            <span class="text">Place of birth</span>

                        </th>
                        <td class="stat-value">Haryana, India</td>

                    </tr>

                    <tr>
                        <th scope="row" class="stat-key">

                            <span class="text">Front End Frameworks</span>

                        </th>
                        <td class="stat-value">Angular, Material UI, Bootstrap, SCSS</td>

                    </tr>


                    <tr>
                        <th scope="row" class="stat-key">

                            <span class="text">Backend Technologies</span>

                        </th>
                        <td class="stat-value">NodeJS, PostgreSQL, C# ,JAVA</td>

                    </tr>


                    <tr>
                        <th scope="row" class="stat-key">

                            <span class="text">Intrested In</span>

                        </th>

                        <td class="stat-value">Insured Mine</td>
                    </tr>


                    <tr>
                        <th scope="row" class="stat-key">

                            <span class="text">Email</span>

                        </th>
                        <td class="stat-value">Karmakarvishal486@gmail.com</td>

                    </tr>


                    <tr>
                        <th scope="row" class="stat-key">

                            <span class="text">LinkedIn</span>

                        </th>
                        <td class="stat-value">linkedin.com/in/vishal-karmakar-a4441112a/</td>

                    </tr>





                </tbody>
            </table>
        </div>


    </section>
</header>